@model ControlCalidad.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ditrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ditrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionExacta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionExacta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cedulaPK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
