@model ControlCalidad.Models.Cliente

@{
    ViewBag.Title = "Edit";
}

<h3 class="text-grey">Editar Cliente</h3>
<div class="margin-b1">
    <hr />
</div>

<div class="row container ">
    <div class="col s8 offset-s2">
        <div class="card hoverable">

            <nav>
                <div class="nav-wrapper turq">
                    <p class="col s4">Quality Expert S.A</p>
                </div>
            </nav>

            <div class="margin-b section">

            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.cedulaPK)


                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">account_circle</i>
                        @Html.LabelFor(model => model.nombreP, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.nombreP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombreP, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">account_circle</i>
                        @Html.LabelFor(model => model.apellido1, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.apellido1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">account_circle</i>
                        @Html.LabelFor(model => model.apellido2, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.apellido2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">perm_identity</i>
                        @Html.LabelFor(model => model.cedulaPK, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.cedulaPK, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cedulaPK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">call</i>
                        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">mail</i>
                        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">place</i>
                        @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.provincia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.provincia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">place</i>
                        @Html.LabelFor(model => model.canton, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.canton, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.canton, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">place</i>
                        @Html.LabelFor(model => model.distrito, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.distrito, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.distrito, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row margin-b">
                    <div class="input-field col s6 offset-s3">
                        <i class="p-size text-grey material-icons prefix">place</i>
                        @Html.LabelFor(model => model.direccionExacta, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.direccionExacta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.direccionExacta, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="row center">
                    <button type="submit" value="Save" class="btn waves-effect waves-light turq white-text">Guardar</button>
                    @Html.ActionLink("Cancelar", "Index", new { id = Model.cedulaPK }, new { @class = "waves-effect waves-light btn red accent-4" })
                </div>

                <div class="margin-b section">

                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
