@model IEnumerable<ControlCalidad.Models.Cliente>

@{
    ViewBag.Title = "Index";
}


<h3 class="text-grey">Clientes</h3>

<div class="fixed-action-btn">
    <a href="@Url.Action("Crear","Client/Create")" class="btn-floating btn-large turq"><i class="large material-icons">add</i></a>
</div>
<div class="card ">
    <table class="table striped ">
        <thead>
            <tr>
                <th class="center turq white-text">
                    Nombre
                </th>
                <th class="center turq white-text">
                    Teléfono
                </th>
                <th class="center turq white-text">
                    Correo
                </th>
                <th class="center turq white-text">
                    Dirección
                </th>
                <th class="center turq white-text">
                    <p>Acción</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        @Html.DisplayFor(modelItem => item.nombreP)
                        @Html.DisplayFor(modelItem => item.apellido1)
                    </td>
                    <td class="center">
                        @Html.DisplayFor(modelItem => item.telefono)
                    </td>
                    <td class="center">
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td class="center">
                        @Html.DisplayFor(modelItem => item.provincia),
                        @Html.DisplayFor(modelItem => item.canton),
                        @Html.DisplayFor(modelItem => item.distrito)
                    </td>
                    <td class="center">
                        @Html.ActionLink("Detalles", "Details", new { id=item.cedulaPK }, new{
                            @class = "waves-effect waves-light btn turq"
                        })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>