@model ControlCalidad.Models.Proyecto

@*  {
        ViewBag.Title = "Edit";
    }
*@

<h2 class="text-grey">Editar Proyecto</h2>


@{

    if (User.IsInRole("Jefe"))
    {

        <div class="row container">
                
            @using (Html.BeginForm())
            {


                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="input-field col s6 offset-s3">

                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 offset-s3">

                            @Html.LabelFor(model => model.objetivo, htmlAttributes: new { @class = "control-label col-md-2" })
                       
                            @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <label for="fechaInicio">fecha de inicio</label>
                            <input type="text" class="datepicker" id="fechaInicio" name="fechaInicio" />

                            @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <label for="fechaFin">fecha de finalización</label>
                            <input type="text" class="datepicker" id="fechaFin" name="fechaFin" />


                            @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 offset-s3">

                            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 offset-s3">

                            @Html.LabelFor(model => model.duracionEstimada, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.duracionEstimada, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.duracionEstimada, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 offset-s3">

                            @Html.LabelFor(model => model.duracionReal, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.duracionReal, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.duracionReal, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 offset-s3">

                            @Html.LabelFor(model => model.cedulaClienteFK, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.cedulaClienteFK, new { htmlAttributes = new { @class = "form-control" } })

                            @Html.ValidationMessageFor(model => model.cedulaClienteFK, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-action">
                        <div class="row center">
                            @Html.ActionLink("Cancelar", "Index", new { Model.idPK }, new { @class = "waves-effect red-hover btn red accent-4" })
                            <button type="submit" class="waves-effect waves-light btn turq">Guardar</button>

                        </div>
                    </div>
                </div>
            }
        </div>

    }


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
