@model ControlCalidad.Models.Proyecto

@*  {
        ViewBag.Title = "Edit";
    }
*@

<h3 class="text-grey">Editar Proyecto</h3>
<div class="margin-b1">
    <hr />
</div>

@{

    if (User.IsInRole("Jefe"))
    {

        <div class="row container">
            <div class="col s8 offset-s2">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper turq">
                            <p class="col s4"> Quality Expert S.A</p>
                        </div>
                    </nav>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="margin-b section">
                        </div>
                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">
                                <i class="p-size material-icons text-grey prefix">person</i>
                                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">
                                <i class="p-size material-icons text-grey prefix">person</i>
                                @Html.LabelFor(model => model.cedulaClienteFK, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.cedulaClienteFK, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.cedulaClienteFK, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">
                                <i class="p-size material-icons text-grey prefix">assignment</i>
                                @Html.LabelFor(model => model.objetivo, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.objetivo, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.objetivo, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">
                                <i class="p-size material-icons text-grey prefix">date_range</i>
                                <label for="fechaInicio">fecha de inicio</label>
                                <input type="text" class="datepicker" id="fechaInicio" name="fechaInicio" />

                                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">
                                <i class="p-size material-icons text-grey prefix">date_range</i>
                                <label for="fechaFin">fecha de finalización</label>
                                <input type="text" class="datepicker" id="fechaFin" name="fechaFin" />

                                @Html.ValidationMessageFor(model => model.fechaFin, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">
                                <i class="p-size material-icons text-grey prefix">info</i>

                                @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">

                                <i class="p-size material-icons text-grey prefix">hourglass_empty</i>
                                @Html.LabelFor(model => model.duracionEstimada, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.duracionEstimada, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.duracionEstimada, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row margin-b">
                            <div class="input-field col s6 offset-s3">
                                <i class="p-size material-icons text-grey prefix">hourglass_full</i>
                                @Html.LabelFor(model => model.duracionReal, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.duracionReal, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.duracionReal, "", new { @class = "text-danger" })

                            </div>
                        </div>


                        <div class="row center">

                            @Html.ActionLink("Cancelar", "Index", new { Model.idPK }, new { @class = "waves-effect red-hover btn red accent-4" })
                            <button type="submit" class="waves-effect waves-light btn turq">Guardar</button>

                        </div>

                        <div class="margin-b section">
                        </div>
                    }

                </div>

            </div>
            
        </div>

    }


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
