@model ControlCalidad.Models.Requerimiento

@{
    ViewBag.Title = "Edit";
}



<h3 class="text-grey">Editar Requerimiento</h3>
<div class="margin-b1">
    <hr />
</div>

@{


    if (User.IsInRole("Jefe"))
    {

        <div class="row container">
            <div class="">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper black">
                            <p class="col s4"> Quality Expert S.A</p>
                        </div>
                    </nav>
                    @using (Ajax.BeginForm("Edit", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        LoadingElementId = "loading",
                        OnSuccess = "redirectToPage('../Index')",
                        OnComplete = "redirectToPage('../Index')",

                    }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="margin-b section">
                        </div>

                        <div class="row">
                            <div class="col s4">
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">assignment_ind</i>
                                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.EditorFor(model => model.nombre, new
                                   {
                                       htmlAttributes = new
                                       {
                                           @class = "form-control",
                                           @onkeyup = "validateReqName()",
                                           @id = "reqName"
                                       }
                                   })
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">date_range</i>
                                        <label for="fechaFin">Fecha de Asignacion</label>
                                        <input type="text" class="datepicker" id="fechaAsig" name="fechaAsig" />
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col col s11">
                                        <i class="p-size material-icons text-grey prefix">info</i>
                                        <select name="complejidad">
                                            <option value="@Model.complejidad">@Model.complejidad</option>
                                            <option value="Facil">Facil</option>
                                            <option value="Intermedio">Intermedio</option>
                                            <option value="Dificil">Dificil</option>
                                        </select>
                                        <label for="complejidad">Complejidad del Requerimiento</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col s4">

                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">date_range</i>
                                        <label for="fechaInicio">Fecha de Inicio</label>
                                        <input type="text" value="@Model.fechaInicio.ToShortDateString()" class="datepicker" id="fechaInicio" name="fechaInicio" required onchange="validateDate()" />
                                        <span class="text-error" id="dateErrorMessage"></span>

                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s11" data-target="dropdownCreate">
                                        <i class="p-size material-icons text-grey prefix">person</i>
                                        <select name=" " id="">
                                            <option value="" disabled selected>Tester</option>
                                        </select>
                                        <label for="">Tester asignado</label>
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">hourglass_empty</i>
                                        @Html.LabelFor(model => model.duracionEstimada, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <input name="duracionEstimada" type="number" value="@Model.duracionEstimada" required class="validate form-control" onkeyup="validateDuration()" onblur="validateDuration()" id="avrDuration" />
                                        <span class="text-error" id="avrDurationError"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="col s4">

                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">date_range</i>
                                        <label for="fechaFin">Fecha de Finalización</label>
                                        <input type="text" class="datepicker" id="fechaFin" name="fechaFin" />
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col col s11">
                                        <i class="p-size material-icons text-grey prefix">info_outline</i>
                                        <select name="estado">
                                            <option value="@Model.estado">@Model.estado</option>
                                            <option value="No iniciado">No iniciado</option>
                                            <option value="En ejecucion">En ejecución</option>
                                            <option value="Finalizado Exitoso">Finalizado Exitoso</option>
                                            <option value="Finalizado Incompleto">Finalizado Incompleto</option>
                                            <option value="Cancelado">Cancelado</option>
                                        </select>
                                        <label for="estado">Estado del Requerimiento </label>
                                    </div>
                                </div>

                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">hourglass_full</i>
                                        @Html.LabelFor(model => model.duracionReal, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.duracionReal, new { htmlAttributes = new { @class = "form-control", type = "number" } })

                                    </div>
                                </div>
                            </div>

                            <div class="col s10 offset-s1">
                                <div class="row margin-b">
                                    <div class="input-field col s11">
                                        <i class="p-size material-icons text-grey prefix">assignment</i>
                                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class=" row container center" id="loading" style="display:none;">
                                <div class="">
                                    <i class="material-icons text-turq ">info_outline</i>
                                </div>
                                <div class="">
                                    <p class="text-turq">
                                        Editando... Por favor espere.
                                    </p>
                                </div>

                                <div class="progress">
                                    <div class="indeterminate"></div>
                                </div>
                            </div>

                            <div class=" row container center hide " id="complete">
                                <div class="">
                                    <i class="material-icons text-turq ">info_outline</i>
                                </div>
                                <div class="">
                                    <p class="text-turq">
                                        Se edito correctamente.
                                    </p>
                                </div>
                            </div>

                            <div class="margin-b1">
                            </div>

                            <div class="row center">
                                @Html.ActionLink("Cancelar", "Details", new { id = Model.idPK, projectId = Model.id_proyectoFK }, new
                           {
                               @class = "margin-r waves-effect red-hover btn red accent-4"
                           })
                                <button type="submit" class="margin-l waves-effect waves-light btn turq">Guardar</button>
                            </div>

                            <div class="margin-b section">
                            </div>
                            }

                        </div>

            </div>

        </div>

    }
    else
    {
        <div class="row container center top-m-block">

            <div class="card hoverable s10 section">

                <h3>Lo sentimos.<br />Debes iniciar sesión como <span class="red-text"> jefe </span> para editar un empleado.</h3>
                <i class="large material-icons red-text">block</i>

            </div>
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}