@model IEnumerable<ControlCalidad.Models.Requerimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new {id_proyecto = ViewBag.id_proyecto} )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFinalizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAsignacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempoReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complejidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionEstimada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionReal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFinalizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAsignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempoReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complejidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracionEstimada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracionReal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idPK ,projectId = item.id_proyectoFK } ) |
            @Html.ActionLink("Details", "Details", new {id = item.idPK ,projectId = item.id_proyectoFK} ) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPK, projectId = item.id_proyectoFK })
        </td>
    </tr>
}

</table>
