@model IEnumerable<ControlCalidad.Models.Reports>
@*
    @{
        ViewBag.Title = "Index";
    }
*@



@{


    List<SelectListItem> projectsNames = (List<SelectListItem>)ViewBag.allprojects;
    List<SelectListItem> testerNames = (List<SelectListItem>)ViewBag.alltesters;

    if (User.IsInRole("Jefe"))
    {
        <div class="row">
            <div class="col s4">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper  black">
                            <p class="col s4">Reportes</p>
                        </div>
                    </nav>
                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover background-color:grey" name="answer" value="Requerimientos terminados" onclick="showProjects1()" />
                                </div>

                                <div class="col s12">
                                    <hr />
                                    <br />
                                </div>

                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Requerimientos en ejecución" onclick="showProjects2()" />
                                </div>

                                <div class="col s12">
                                    <hr />
                                    <br />
                                </div>

                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Cantidad de requerimientos por tester" onclick="showProjects3()" />
                                </div>

                                <div class="col s12">
                                    <hr />
                                    <br />
                                </div>

                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Historial de participación" onclick="showProjects4()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s8">
                <div class="card hoverable">
                    <nav id="nav">
                        <div class="nav-wrapper grey">
                            <div>
                                <p class="col s9">Resultados</p>
                            </div>
                        </div>
                    </nav>
                    <nav id="nav1" style="display:none;">
                        <div class="nav-wrapper grey">
                            <div>
                                <p class="col s9">Requerimientos terminados</p>
                                <form action="Edit">
                                    <input type="text" id="ability" placeholder="Buscar por . . ." style="width: 12%;">
                                    <a class="waves-effect waves-light btn  black turq-hover">Buscar</a>
                                </form>
                            </div>
                        </div>
                    </nav>
                    <nav id="nav2" style="display:none;">
                        <div class="nav-wrapper grey">
                            <div>
                                <p class="col s9">Requerimientos en ejecución</p>
                                <form action="Edit">
                                    <input type="text" id="ability" placeholder="Buscar por . . ." style="width: 12%;">
                                    <a class="waves-effect waves-light btn  black turq-hover">Buscar</a>
                                </form>
                            </div>
                        </div>
                    </nav>
                    <nav id="nav3" style="display:none;">
                        <div class="nav-wrapper grey">
                            <div>
                                <p class="col s9">Cantidad de requerimientos por tester</p>
                                <form action="Edit">
                                    <input type="text" id="ability" placeholder="Buscar por . . ." style="width: 12%;">
                                    <a class="waves-effect waves-light btn  black turq-hover">Buscar</a>
                                </form>
                            </div>
                        </div>
                    </nav>
                    <nav id="nav4" style="display:none;">
                        <div class="nav-wrapper grey">
                            <div>
                                <p class="col s9">Historial de participación</p>
                                <form action="Edit">
                                    <input type="text" id="ability" placeholder="Buscar por . . ." style="width: 12%;">
                                    <a class="waves-effect waves-light btn  black turq-hover">Buscar</a>
                                </form>
                            </div>
                        </div>
                    </nav>


                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 margin-b2">
                                    <div id="selectProject1" style="display:none;" class="answer_list">
                                        @Html.DropDownList("proy1", projectsNames, "Seleccione un proyecto", new { @onChange = "firstReport()" })
                                        <br />
                                        <p id="demo1"></p>
                                        <div>
                                            <table id="table1" class="table striped ">
                                                <thead>
                                                    <tr>
                                                        <th class="center black white-text">
                                                            Nombre
                                                        </th>
                                                        <th class="center black white-text">
                                                            Estado
                                                        </th>
                                                        <th class="center black white-text">
                                                            Complejidad
                                                        </th>
                                                        <th class="center black white-text">
                                                            Responsable
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td class="center">
                                                                @Html.DisplayFor(model => item.nombreRequerimiento)
                                                            </td>
                                                            <td class="center">
                                                                @Html.DisplayFor(model => item.estadoRequerimiento)
                                                            </td>
                                                            <td class="center">
                                                                @Html.DisplayFor(model => item.complejidadRequerimiento)
                                                            </td>
                                                            <td class="center">
                                                                @Html.DisplayFor(model => item.nombreResponsable)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>



                                <div class="col s12 margin-b2">
                                    <div id="selectProject2" style="display:none;" class="answer_list">
                                        @Html.DropDownList("proy2", projectsNames, "Seleccione un proyecto", new { @onChange = "secondReport()" })
                                        <br />
                                        <p id="demo2"></p>
                                        <table class="table striped ">
                                            <thead>
                                                <tr>
                                                    <th class="center black white-text">
                                                        Nombre
                                                    </th>
                                                    <th class="center black white-text">
                                                        Complejidad
                                                    </th>
                                                    <th class="center black white-text">
                                                        Responsable
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="center">
                                                            @Html.DisplayFor(model => item.nombreReq)
                                                        </td>
                                                        <td class="center">
                                                            @Html.DisplayFor(model => item.complejidadReq)
                                                        </td>
                                                        <td class="center">
                                                            @Html.DisplayFor(model => item.nombreResp)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col s12 margin-b2">
                                    <div id="selectProject3" style="display:none;" class="answer_list">
                                        @Html.DropDownList("proy3", projectsNames, "Seleccione un proyecto", new { @onChange = "thirdReport()" })
                                        <br />
                                        <p id="demo3"></p>
                                        <table class="table striped ">
                                            <thead>
                                                <tr>
                                                    <th class="center black white-text">
                                                        Tester
                                                    </th>
                                                    <th class="center black white-text">
                                                        Cantidad
                                                    </th>
                                                    <th class="center black white-text">
                                                        Proyecto
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="center">
                                                            @Html.DisplayFor(model => item.nombreTester)
                                                        </td>
                                                        <td class="center">
                                                            @Html.DisplayFor(model => item.cantidadReqAsignados)
                                                        </td>
                                                        <td class="center">
                                                            @Html.DisplayFor(model => item.nombreP)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div id="chart_div"></div>
                                    </div>
                                </div>
                                <div class="col s12 margin-b2">
                                    <div id="selectProject4" style="display:none;" class="answer_list">
                                        @Html.DropDownList("tester", testerNames, "Seleccione un tester", new { @onChange = "fourthReport()" })
                                        <br />
                                        <p id="demo4"></p>
                                        <br />
                                        <table class="table striped ">
                                            <thead>
                                                <tr>
                                                    <th class="center black white-text">
                                                        Nombre del Proyecto
                                                    </th>
                                                    <th class="center black white-text">
                                                        Estado del Proyecto
                                                    </th>
                                                    <th class="center black white-text">
                                                        Horas Dedicadas
                                                    </th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="center">
                                                        @Html.DisplayFor(model => item.nombre)
                                                    </td>
                                                    <td class="center">
                                                        @Html.DisplayFor(model => item.estado)
                                                    </td>
                                                    <td class="center">
                                                        @Html.DisplayFor(model => item.horasdedicas)
                                                    </td>
                                                </tr>
                                            }
                                        </table>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="row container center top-m-block">
            <div class="card hoverable s10 section">
                <h3>Lo sentimos.<br />Debes iniciar sesión como <span class="red-text"> jefe </span> para ingresar a la sección de Reportes.</h3>
                <i class="large material-icons red-text">block</i>
            </div>
        </div>
    }


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materializeD")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(showProject3);
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        function firstReport() {
            var proy = document.getElementById('proy1').value
            //$.getJSON(".../Reports/CompletedRequirements", [proy], [tempEnded]);
            /*$.ajax({
                type: "POST",
                url: "/Reports/CompletedRequirements",
                data: proy,
//                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    document.getElementById("demo1").innerHTML = response;
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });*/
            $.ajax({
                url: '/Reports/CompletedRequirements',
                data: { id: proy },
                success: function (list) {
                    err.innerHTML = "Cédula previamente registrada.";
                    document.getElementById('demo1').innerHTML = list;
                },
            });

        }
    </script>
    <script>
        function secondReport() {
            var proy2 = document.getElementById('proy2').value
        }
    </script>
    <script>
        function thirdReport() {
            var proy3 = document.getElementById('proy3').value
        }
    </script>
    <script>
        function fourthReport() {
           4s = document.getElementById('tester').value
        }
    </script>

    <script>
        function showProjects1() {
            document.getElementById('nav').style.display = "none";
            document.getElementById('nav2').style.display = "none";
            document.getElementById('nav3').style.display = "none";
            document.getElementById('nav4').style.display = "none";
            document.getElementById('nav1').style.display = "block";
            document.getElementById('selectProject2').style.display = "none";
            document.getElementById('selectProject3').style.display = "none";
            document.getElementById('selectProject4').style.display = "none";
            document.getElementById('selectProject1').style.display = "block";

        }
    </script>
    <script>
        function showProjects2() {
            document.getElementById('nav').style.display = "none";
            document.getElementById('nav1').style.display = "none";
            document.getElementById('nav3').style.display = "none";
            document.getElementById('nav4').style.display = "none";
            document.getElementById('nav2').style.display = "block";
            document.getElementById('selectProject1').style.display = "none";
            document.getElementById('selectProject3').style.display = "none";
            document.getElementById('selectProject4').style.display = "none";
            document.getElementById('selectProject2').style.display = "block";
        }
    </script>
    <script>
        function showProjects3() {
            document.getElementById('nav').style.display = "none";
            document.getElementById('nav1').style.display = "none";
            document.getElementById('nav2').style.display = "none";
            document.getElementById('nav4').style.display = "none";
            document.getElementById('nav3').style.display = "block";
            document.getElementById('selectProject1').style.display = "none";
            document.getElementById('selectProject2').style.display = "none";
            document.getElementById('selectProject4').style.display = "none";
            document.getElementById('selectProject3').style.display = "block";

            var data = google.visualization.arrayToDataTable([
                ['Elemento', 'Cantidad', { role: 'style' }],
                ['Carlos', 8, 'blue'],            // RGB value
                ['Juan', 10, 'blue'],            // English color name
                ['Pedro', 9, 'blue'], // CSS-style declaration
            ]);


            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data);
        }
    </script>
    <script>
        function showProjects4() {
            document.getElementById('nav').style.display = "none";
            document.getElementById('nav1').style.display = "none";
            document.getElementById('nav2').style.display = "none";
            document.getElementById('nav3').style.display = "none";
            document.getElementById('nav4').style.display = "block";
            document.getElementById('selectProject1').style.display = "none";
            document.getElementById('selectProject2').style.display = "none";
            document.getElementById('selectProject3').style.display = "none";
            document.getElementById('selectProject4').style.display = "block";
        }
    </script>



}