@{
    ViewBag.Title = "Index";
}

@{


    List<SelectListItem> projectsNames = (List<SelectListItem>)ViewBag.allprojects;
    List<SelectListItem> testerNames = (List<SelectListItem>)ViewBag.alltesters;
    List<SelectListItem> leaderNames = (List<SelectListItem>)ViewBag.allLeaders;
    List<SelectListItem> finishedProjects = ( List<SelectListItem> ) ViewBag.finishedProjects;

    //Used to draw charts
    <script src="https://www.gstatic.com/charts/loader.js"></script>


    if( User.IsInRole( "Jefe" ) )
    {
        <div class="row">
            <!-----------------------------------------------------Sección de botones--------------------------------------------------------------->
            <div class="col s4">
                <div class="card hoverable">

                    <nav>
                        <div class="nav-wrapper  black">
                            <h5 class="col s4">Reportes</h5>
                        </div>
                    </nav>

                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s11">
                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover background-color:grey" name="answer" value="Requerimientos terminados" onclick="showProjects2()" style="width: 350px;"/>
                                    <hr size="50" id="barra2" style="display:none; border: 2px solid  teal; width:345px;" />

                                </div>


                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Requerimientos en ejecución" onclick="showProjects3()" style="width: 350px;"/>
                                    <hr size="50" id="barra3" style="display:none; border: 2px solid  teal; width:345px;" />
                                </div>


                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Cantidad de requerimientos por tester" onclick="showProjects4()" style="width: 350px;"/>
                                    <hr size="50" id="barra4" style="display:none; border: 2px solid  teal; width:345px;" />
                                </div>


                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Historial de participación" onclick="showProjects5()" style="width: 350px;"/>
                                    <hr size="50" id="barra5" style="display:none; border: 2px solid  teal; width:345px;" />
                                </div>


                                <div class="col s11 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Horas y requerimientos" onclick="showProjects6()" style="width: 350px;" />
                                    <hr size="50" id="barra6" style="display:none; border: 2px solid  teal; width:345px;" />
                                </div>


                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Comparación líderes" onclick="showProjects7()" style="width: 350px;"/>
                                    <hr size="50" id="barra7" style="display:none; border: 2px solid  teal; width:345px;" />
                                </div>


                                <div class="col s12 margin-b1">
                                    <input type="button" class="black-text btn grey  turq-hover" name="answer" value="Pruebas" onclick="showProjects8()" style="width: 350px;"/>
                                    <hr size="50" id="barra8" style="display:none; border: 2px solid  teal; width:345px;" />
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-----------------------------------------------Sección de resultados---------------------------------------->


            <!------------------Consulta 2: Requerimientos terminados----------------->
            <div id="consulta2" style="display:none;" class="col s8">
                <div class="card hoverable">

                    <nav>
                        <div class="nav-wrapper grey">
                            <div>
                                <h5 class="col s9">Requerimientos terminados en un proyecto proyecto</h5>
                            </div>
                        </div>
                    </nav>

                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 margin-b2">

                                </div>
                                <div class="col s12 margin-b2">
                                    <div class="answer_list">
                                        <div class="col s12 margin-b2">
                                            <i class="p-size text-grey material-icons prefix">content_paste</i>
                                            <label size="50">Proyecto </label>
                                        </div>
                                        <div class="col s5 margin-b2">
                                            @Html.DropDownList("proy2", projectsNames, "Seleccione un proyecto", new { @onchange = "secondReport()" })
                                        </div>
                                        <br />
                                        <div>
                                            <table class="table striped ">
                                                <thead>
                                                    <tr>
                                                        <th class="center black white-text">
                                                            Nombre
                                                        </th>
                                                        <th class="center black white-text">
                                                            Estado
                                                        </th>
                                                        <th class="center black white-text">
                                                            Complejidad
                                                        </th>
                                                        <th class="center black white-text">
                                                            Responsable
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="table2" class="center"></tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-----------------------Consulta 3: Requerimientos en ejecución------------------------->
            <div id="consulta3" style="display:none;" class="col s8">
                <div class="card hoverable">

                    <nav>
                        <div class="nav-wrapper grey">
                            <div>
                                <h5 class="col s9">Requerimientos en ejecución en un proyecto</h5>
                            </div>
                        </div>
                    </nav>

                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 margin-b2">

                                </div>
                                <div class="col s12 margin-b2">
                                    <div class="answer_list">
                                        <div class="col s12 margin-b2">
                                            <i class="p-size text-grey material-icons prefix">content_paste</i>
                                            <label size="50">Proyecto </label>
                                        </div>
                                        <div class="col s5 margin-b2">
                                            @Html.DropDownList("proy3", projectsNames, "Seleccione un proyecto", new { @onChange = "thirdReport()" })
                                        </div>
                                        <br />
                                        <table class="table striped ">
                                            <thead>
                                                <tr>
                                                    <th class="center black white-text">
                                                        Nombre
                                                    </th>
                                                    <th class="center black white-text">
                                                        Complejidad
                                                    </th>
                                                    <th class="center black white-text">
                                                        Responsable
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="table3" class="center"></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-----------------------------Consulta 4: Cantidad de requerimientos---------------------------------->
            <div id="consulta4" style="display:none;" class="col s8">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper grey">
                            <div>
                                <h5 class="col s9">Cantidad de requerimientos de cada tester en un proyecto</h5>
                            </div>
                        </div>
                    </nav>

                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 margin-b2">

                                </div>
                                <div class="col s12 margin-b2">
                                    <div class="answer_list">
                                        <div class="col s12 margin-b2">
                                            <i class="p-size text-grey material-icons prefix">content_paste</i>
                                            <label size="50">Proyecto </label>
                                        </div>
                                        <div class="col s5 margin-b2">
                                            @Html.DropDownList("proy4", projectsNames, "Seleccione un proyecto", new { @onChange = "fourthReport()" })
                                        </div>
                                        <br />
                                        <table class="table striped ">
                                            <thead>
                                                <tr>
                                                    <th class="center black white-text">
                                                        Tester
                                                    </th>
                                                    <th class="center black white-text">
                                                        Requerimiento
                                                    </th>
                                                    <th class="center black white-text">
                                                        Complejidad
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="table4" class="center"></tbody>

                                        </table>
                                        <div id="chart_div"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!---------------------------------Consulta 5: Historial participación-------------------------------->
            <div id="consulta5" style="display:none;" class="col s8">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper grey">
                            <div>
                                <h5 class="col s9">Historial de participación de un tester</h5>
                            </div>
                        </div>
                    </nav>

                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s12 margin-b2">

                                </div>
                                <div class="col s12 margin-b2">
                                    <div class="answer_list">
                                        <div class="col s12 margin-b2">
                                            <i class="p-size text-grey material-icons prefix">content_paste</i>
                                            <label size="50">Proyecto </label>
                                        </div>
                                        <div class="col s5 margin-b2">
                                            @Html.DropDownList("tester", testerNames, "Seleccione un tester", new { @onChange = "fifthReport()" })
                                        </div>
                                        <br />
                                        <table class="table striped ">
                                            <thead>
                                                <tr>
                                                    <th class="center black white-text">
                                                        Nombre del Proyecto
                                                    </th>
                                                    <th class="center black white-text">
                                                        Estado del Proyecto
                                                    </th>
                                                    <th class="center black white-text">
                                                        Nombre del Requerimiento
                                                    </th>
                                                    <th class="center black white-text">
                                                        Estado del Requerimiento
                                                    </th>
                                                    <th class="center black white-text">
                                                        Complejidad
                                                    </th>
                                                    <th class="center black white-text">
                                                        Fecha de Inicio
                                                    </th>
                                                    <th class="center black white-text">
                                                        Fecha de Finalización
                                                    </th>
                                                    <th class="center black white-text">
                                                        Horas
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="table5" class="center"></tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-----------------------------------Consulta 6: Horas reales,estimadas y requerimientos de un proyecto-------------------------->
            <div id="consulta6" style="display:none;" class="col s8">
                <div class="card hoverable">
                    <nav class="margin-b">
                        <div class="nav-wrapper grey">
                            <div>
                                <h5 class="col s9">Reporte de horas y requerimientos por proyecto finalizado</h5>
                            </div>
                        </div>
                    </nav>

                    <div class="card-content black-text">
                        <div class="row">
                            <div class="row margin-b">
                                <div class="input-field col s6">
                                    <i class="p-size material-icons text-grey prefix">person</i>
                                    @Html.DropDownList( "idPk" , finishedProjects , "Seleccione un proyecto" , new {
                                   @class = "validate form-control" ,
                                   @id = "finisehdProjects" ,
                                   @onchange = "getFinishedProjectInfo()" ,
                                   required = "required"
                               })
                                    <label for="fProjects">Proyectos finalizados <span class="red-text">  *</span></label>
                                    <span class="text-error" id="ProjectError"></span>
                                </div>
                            </div>
                            <div class="col s12 margin-b3">
                                <div class="answer_list">
                                    <br />
                                    <table class="table striped ">
                                        <thead>
                                            <tr>
                                                <th class="center black white-text">
                                                    Hora Estimadas
                                                </th>
                                                <th class="center black white-text">
                                                    Horas Reales
                                                </th>
                                                <th class="center black white-text">
                                                    Requerimientos Exitosos
                                                </th>
                                                <th class="center black white-text">
                                                    Requerimientos Fallidos
                                                </th>
                                                <th class="center black white-text">
                                                    Requerimientos Totales
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="projectHoursRequirementsTable" class="center"></tbody>
                                    </table>

                                </div>

                            </div>

                     
                            <div class="col s6">
                                <div id="chart_project_div" style="width: 100%; height: 100%;"></div>
                            </div>
                            <div class="col s6">
                                <div id="chart_project_div_req" style="width: 100%; height: 100%;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <!-----------------------------Consulta 7: Comparación entre líderes---------------------------------->
            <div id="consulta7" style="display:none;" class="col s8">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper grey">
                            <div>
                                <h5 class="col s9">Comparación entre líderes</h5>
                            </div>
                        </div>
                    </nav>
                    <div class="card-content black-text">
                        <div class="row">
                            <div class="col s6">

                                <div class="col s12 margin-b2">
                                    <div class="answer_list">
                                        <div class="col s12 margin-b2">
                                            <i class="p-size text-grey material-icons prefix">account_box</i>
                                            <label size="50">Lider </label>
                                        </div>
                                        <div class="col s12 margin-b2">
                                            @Html.DropDownList("Leader", leaderNames, "Seleccione un lider", new { @onChange = "leaderStatistics()" })
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <div id="chart_div_leader">

                                        </div>


                                    </div>

                                </div>


                            </div>

                            <div class="col s6">

                                <div class="col s12 margin-b2">
                                    <div class="answer_list">
                                        <div class="col s12 margin-b2">
                                            <i class="p-size text-grey material-icons prefix">account_box</i>
                                            <label size="50">Lider </label>
                                        </div>
                                        <div class="col s12 margin-b2">
                                            @Html.DropDownList("Leader2", leaderNames, "Seleccione un lider", new { @onChange = "leaderStatistics2()" })
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <div id="chart_div_leader2">

                                        </div>


                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <!---------------------------------------Consulta 8: Pruebas---------------------------------------->
            <div id="consulta8" style="display:none;" class="col s8">
                <div class="card hoverable">
                    <nav>
                        <div class="nav-wrapper grey">
                            <div>
                                <h5 class="col s9">Pruebas</h5>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <!-----------------------------Consulta sobre horas de proyecto y requerimientos---------------->
            <div id="conProyHorReq" class="margin-b">


            </div>
        </div>

    }
    else
    {
        <div class="row container center top-m-block">
            <div class="card hoverable s10 section">
                <h3>Lo sentimos.<br />Debes iniciar sesión como <span class="red-text"> jefe </span> para ingresar a la sección de Reportes.</h3>
                <i class="large material-icons red-text">block</i>
            </div>
        </div>
    }


}






@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/materializeD" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @Scripts.Render( "~/bundles/ajax" )
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(showProjects4);
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="objects.js"></script>

    <script>
        function leaderStatistics() {
            var leader = document.getElementById('Leader').value
            $.get("/Reports/leaderRequirementsStatistics", { leaderId: leader }, function (data) {
                showLeaderChart();
            });
        }
    </script>
    <script>
        function showLeaderChart() {
            //Load the Visualization API and the corechart package.
            google.charts.load('current', { 'packages': ['corechart'] });

            // Set a callback to run when the Google Visualization API is loaded.

            drawLeaderChart();
        }
    </script>

    <script>


        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawLeaderChart() {

            // Create the data table.

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div_leader'));
            chart.draw(data, null);
        }
    </script>

    <script>
        function leaderStatistics2() {
            var leader = document.getElementById('Leader2').value
            $.get("/Reports/leaderRequirementsStatistics", { leaderId: leader }, function (data) {
                showLeaderChart2();
            });
        }
    </script>
    <script>
        function showLeaderChart2() {
            //Load the Visualization API and the corechart package.
            google.charts.load('current', { 'packages': ['corechart'] });

            // Set a callback to run when the Google Visualization API is loaded.

            drawLeaderChart2();
        }
    </script>

    <script>

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawLeaderChart2() {

            // Create the data table.

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div_leader2'));
            chart.draw(data, null);
        }
    </script>

}