@model IEnumerable<ControlCalidad.Models.Habilidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.nombreP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcionPK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.nombreP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripcionPK)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { cedula_empleadoFK = item.cedula_empleadoFK, categoriaPK = item.categoriaPK, descripcionPK = item.descripcionPK }) |
        @Html.ActionLink("Details", "Details", new { cedula_empleadoFK = item.cedula_empleadoFK, categoriaPK = item.categoriaPK, descripcionPK = item.descripcionPK }) |
        @Html.ActionLink("Delete", "Delete", new { cedula_empleadoFK = item.cedula_empleadoFK, categoriaPK = item.categoriaPK, descripcionPK = item.descripcionPK })
    </td>
</tr>
}

</table>
