@model ControlCalidad.Models.TrabajaEn

@{
    ViewBag.Title = "Edit";
}

<style>
    .table-responsive {
        display: block;
        width: 100%;
        overflow-y: auto;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .material-icons.fixed {
        position: fixed;
        font-size: 35px;
        vertical-align: -14px;
        position: relative;
    }

    .material-icons{
        display: inline-flex;
        vertical-align: top;
        padding-top: 20px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("CedulaN", "", new { @id = "CedulaN" })
    @Html.Hidden("CedulaT", "", new { @id = "CedulaT" })
    @Html.Hidden("Hability", "", new { @id = "Hability" })
    @Html.Hidden("Proyecto", "", new { Value = ViewBag.id_proyecto, @id = "Proyecto" })


    <div class="form-horizontal">
        <h3 class="text-grey">Proyecto @ViewBag.project_name</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form action="Edit">
        <i class="material-icons fixed">search</i>
        <input type="text" id="hability" placeholder="Buscar por habilidades" style="width: 50%;">
        <button type="submit" onclick="getHability()" class="btn btn-default" name="Buscar" value="Buscar" title="Buscar">Buscar</button>
    </form>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <div class="table-responsive collection">
                            <table class="table striped">
                                <tr>
                                    <th class="center black white-text" style="width: 200%;">
                                        @Html.DisplayName("Disponibles")
                                    </th>
                                </tr>
                            </table>
                            <table>

                                <tbody>
                                    @foreach (var tester in ViewBag.disponibles as SelectList)
                                    {
                                        <a href="javascript:setCedulaN(@tester.Value)" id="@tester.Value" class="collection-item">@tester.Text</a>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row center">
                        <button type="submit" name="Asignar" value="Asignar" class="margin-l btn waves-effect waves-light turq white-text">Asignar</button>
                    </div>
                    <div class="margin-b section">
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <div class="table-responsive collection">
                            <table class="table striped">
                                <tr>
                                    <th class="center black white-text" style="width: 200%;">
                                        @Html.DisplayName("Equipo")
                                    </th>
                                </tr>
                            </table>
                            <table>

                                <tbody>
                                    @foreach (var team in ViewBag.cedula_empleadoFK as SelectList)
                                    {
                                        <a href="javascript:setCedulaT(@team.Value)" id="@team.Value" class="collection-item">@team.Text</a>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row center">
                        <button type="submit" name="Desasignar" value="Desasignar" class="margin-l btn waves-effect waves-light turq white-text">Desasignar</button>
                    </div>
                    <div class="margin-b section">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>


    function setCedulaN(id) {
        if ($('#CedulaN').val() != "") {
            $('#' + $('#CedulaN').val()).removeClass("active");
        }
        $('#CedulaN').val(id);
        $('#' + id).addClass("active");
    }

    function setCedulaT(id) {
        if ($('#CedulaT').val() != "") {
            $('#' + $('#CedulaT').val()).removeClass("active");
        }
        $('#CedulaT').val(id);
        $('#' + id).addClass("active");
    }

    function getHability() {
        $('#Hability').val(document.getElementById("hability").value);
    }

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}