@model ControlCalidad.Models.TrabajaEn

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Cedula", "", new { @id = "Cedula" })
    @Html.Hidden("Proyecto","", new { Value = ViewBag.id_proyecto , @id = "Proyecto" })
    <div class="form-horizontal">
        <h4>TrabajaEn</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <td>Disponibles: </td>
        @Html.DropDownList("nombreP", (IEnumerable<SelectListItem>)ViewBag.disponibles, null, new { @class = "form-control", @onChange = "SelectedValue(this)" })
        <div class="form-group">
            @Html.LabelFor(model => model.cedula_empleadoFK, "Equipo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cedula_empleadoFK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cedula_empleadoFK, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Asignar" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Add", "Add", new { cedulaPK = "hfCountry", id_proyecto = ViewBag.id_proyecto })
</div>
<script>

    //To get selected value an text of dropdownlist
    function SelectedValue(ddlObject) {
        //Selected value of dropdownlist
        var selectedValue = ddlObject.value;
        //Selected text of dropdownlist
        var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;
        $('#Cedula').val(selectedValue);
        //alert popup with detail of seleceted value and text
        alert(" Selected Value: " + selectedValue + " -- " + "Selected Text: " + selectedText);
    }
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

