@model ControlCalidad.Models.TrabajaEn

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<style>
tbody {
  display:block;
  height:150px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
}
</style>
@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()
    @Html.Hidden("CedulaN", "", new { @id = "CedulaN" })
    @Html.Hidden("CedulaT", "", new { @id = "CedulaT" })
    @Html.Hidden("Hability", "", new { @id = "Hability" })
    @Html.Hidden("Proyecto", "", new { Value = ViewBag.id_proyecto, @id = "Proyecto" })





<div class="form-horizontal">
    <h4>TrabajaEn</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    <div class="input-field col s4">
        <i class="material-icons prefix">search</i>
        <textarea id="hability" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Buscar por habilidades</label>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" name="Buscar" value="Buscar" onclick="getHability()" />
    </div>
</div>
    <div class="collection">
        <td>Disponibles: </td>
        @foreach (var tester in ViewBag.disponibles as SelectList)
        {
            <a href="javascript:setCedulaN(@tester.Value)" id="@tester.Value" class="collection-item">@tester.Text</a>
        }
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="Asignar" value="Asignar" />
        </div>
    </div>

    <div class="collection">
        <td>Equipo: </td>
        @foreach (var team in ViewBag.cedula_empleadoFK as SelectList)
        {
            <a href="javascript:setCedulaT(@team.Value)" id="@team.Value" class="collection-item">@team.Text</a>
        }
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="Desasignar" value="Desasignar" />
        </div>
    </div>
</div>
}
<script>


    function setCedulaN(id) {
        if ($('#CedulaN').val() != "") {
            $('#' + $('#CedulaN').val()).removeClass("active");
        }
        $('#CedulaN').val(id);
        $('#' + id).addClass("active");
    }

    function setCedulaT(id) {
        if ($('#CedulaT').val() != "") {
            $('#' + $('#CedulaT').val()).removeClass("active");
        }
        $('#CedulaT').val(id);
        $('#' + id).addClass("active");
    }

    function getHability() {
        $('#Hability').val(document.getElementById("hability").value);
    }

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

