<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QA</title>

    @*
        @Scripts.Render( "~/bundles/modernizr" )
    *@

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    @Styles.Render( "~/Content/css" )

</head>
<body>
    <nav>
        <div class="nav-wrapper turq">

            <ul class="right hide-on-med-and-down">
                <li><a href=" @Url.Action( "Index" , "Home" )"><i class="material-icons left">home</i>Inicio</a></li>
                @{

                    if (User.IsInRole("Jefe"))
                    {
                        <li><a href=" @Url.Action( "Index" , "LoginUsers" )">Perfiles</a></li>
                        <li><a href=" @Url.Action( "Index" , "Client" )">Clientes</a></li>
                    }
                }
                <li><a href="@Url.Action("Index", "Project")">Proyectos</a></li>

                <li>@Html.Partial( "_LoginPartial" ) </li>

            </ul>

        </div>
    </nav>





    <div class="">
        @RenderBody( )
        <footer></footer>
    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    @Scripts.Render( "~/bundles/materializeD" )
    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @RenderSection( "scripts" , required: false )
</body>
</html>
