@model IEnumerable<ControlCalidad.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h3 class="text-grey">Empleados</h3>
<div class="margin-b1">
    <hr />
</div>

<div class="fixed-action-btn">
    <a href="@Url.Action( "Create New" , "Employee/Create" )" class="btn-floating btn-large black turq-hover">
        <i class="large material-icons">add</i>
    </a>
</div>


<div class="card">

    <table class="table striped">
        <tr>
            <th class="center black white-text">
                @Html.DisplayName("Nombre")
            </th>
            <th class="center black white-text">
                @Html.DisplayName("Apellido")
            </th>
            <th class="center black white-text">
                @Html.DisplayName("Telefono")
            </th>
            <th class="center black white-text">
                @Html.DisplayName("Correo")
            </th>
            <th class="center black white-text">
                @Html.DisplayName("Direccion exacta")
            </th>
            <th class="center black white-text">
                @Html.DisplayName("Disponibilidad")
            </th>
            <th class="center black white-text">
                @Html.DisplayName("Accion")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    @Html.DisplayFor(modelItem => item.nombreP)
                </td>
                <td class="center">
                    @Html.DisplayFor(modelItem => item.apellido1)
                </td>
                
                <td class="center">
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td class="center">
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td class="center">
                    @Html.DisplayFor(modelItem => item.direccionExacta)
                </td>
                <td class="center">
                    @Html.DisplayFor(modelItem => item.disponibilidad)
                </td>
                <td class="center">
                    @*Html.ActionLink("Edit", "Edit", new { id = item.cedulaPK }) |*@
                    @Html.ActionLink("Detalles", "Details", new { id = item.cedulaPK }, new { @class = "waves-effect waves-light btn black turq-hover" }) 
                    @*Html.ActionLink("Delete", "Delete", new { id = item.cedulaPK }) |*@
                    @*Html.ActionLink("Habilidades", "../Habilities/Index", new { cedula_empleado = item.cedulaPK })*@
                </td>
            </tr>
        }

    </table>

</div>
