@model ControlCalidad.Models.AspNetUser

@{
    ViewBag.Title = "Details";
}

<h3>Detalles de usuario</h3>
<hr />

<div class="fixed-action-btn">
    <a href="@Url.Action( "Index" , "LoginUsers/Index" )" class="btn-floating btn-large turq left">
        <i class="large material-icons">arrow_back</i>
    </a>
</div>

<div>

    <div class="row margin-p">
        <div class="col s6 offset-s3">
            <div class="card hoverable ">
                <nav>
                    <div class="nav-wrapper turq">
                        <p class="col s4">Quality Expert S.A</p>
                    </div>
                </nav>
                <div class="card-content black-text">
                    <div class="row">
                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">person</i> <span class="text-turq"> Nombre de usuario </span> : @Html.DisplayFor( model => model.UserName ) </p>
                        </div>

                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">work</i> <span class="text-turq"> Rol </span> : @Html.DisplayFor( model => model.Role ) </p>
                        </div>

                        <div class="col s12 margin-b1">
                            <p class="p-size"> <i class="material-icons left text-grey">mail</i> <span class="text-turq"> Correo</span> : @Html.DisplayFor( model => model.Email ) </p>
                        </div>
                    </div>
                </div>

                <div class="card-action center">
                    @Html.ActionLink( "Editar"  , "Edit", new { id=Model.Id }, new { @class = "waves-effect waves-light btn turq"} )
                    @Html.ActionLink("Borrar", "Delete", new { id=Model.Id }, new {
                   @class = "waves-effect waves-light btn red accent-4"
               } )
                </div>
            </div>
        </div>
    </div>
</div>

