@model IEnumerable<ControlCalidad.Models.Prueba>

@*{
        ViewBag.Title = "Index";
    }*@

<h3>Pruebas</h3>
<div class="margin-b1">
    <hr />
</div>

@{

    int? projectId = ViewBag.projectId;
    int? requirementId = ViewBag.requirementId;

    

    <div id="btn-add" class="fixed-action-btn">
        <a href="@Url.Action("Create New", "Test/Create")" class="btn-floating btn-large black turq-hover">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="card">

        <table class="table striped">
            <tr>
                <th class="center black white-text">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th class="center black white-text">
                    @Html.DisplayNameFor(model => model.resultadoFinal)
                </th>
                <th class="center black white-text">
                    @Html.DisplayName("Acción")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.id_proyectoFK == projectId && item.id_requerimientoFK == requirementId) //Para mostrar las pruebas asociadas a un proy y req especifico
                {  
                    <tr>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.resultadoFinal)
                        </td>
                        <td class="center">
                            @Html.ActionLink("Edit", "Edit", new { id = item.idPK, projectID = item.id_proyectoFK, requirementID = item.id_requerimientoFK }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.idPK, projectID = item.id_proyectoFK, requirementID = item.id_requerimientoFK,
                                                                        reqName = item.Requerimiento.nombre }, new {@class = "waves-effect waves-light btn black turq-hover" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.idPK, projectID = item.id_proyectoFK, requirementID = item.id_requerimientoFK })
                        </td>
                    </tr>
                }

            }

        </table>

    </div>


   


}



